@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #f9f9fe;
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
    background: linear-gradient(to right, #aa6a75, #4c647d);
}

nav {
    font-family: Poppins;
    padding: 5px;
    background-color: #ff4c60;
    position: sticky;
    top: 0;
    width: 50%;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

nav ul {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
}

footer{
    border: 5px solid;
    margin: auto;
    width: fit-content;
    padding: 10px;
}
nav a {
    color: #efefef;
    text-decoration: solid;
}


li {
    transition: all 0.3s ease-in-out;

}
article{
    border: 1px solid azure;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0;
    width: 40%;
    margin: 10px auto;
    overflow: hidden;
}

li:hover {
    transform: scale(1.1);
}

#about {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ff4c60;
    border-radius: 5px;
    width:300px;
    text-align: center;
    color: azure;
    box-shadow: 0 0 20px black;
}


form {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 35%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #ff4c60;
    color: azure;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.979);
}
 
.form-section {
    padding: 0.5em;
    text-align: center;
    width: auto;
}
 input{ 
    border: 1px solid white;
    background-color: #f9f9fe;
    padding: 0.5em;
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    
} 
textarea{
    background-color: #f9f9fe;
    font-family: Poppins;
    text-align: center;
    padding: 0.5em;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: Poppins; 
  }

button{
    width: 15%;
    color: #000000;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px ;
}

button:hover {
    background: linear-gradient(120deg, #007bff, #d0314c);
    color: azure;
    transition: 0.5s;
}
h1, p {
    font-family: Poppins;
    color: azure;
}